<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <base href="/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>-->

</head>
    <body>
        {{{body}}}
        <!-- You have to load the scripts after the main element when using webpack to allow for the main component to load, alternativel add a document.ready event listener before bootstrapping the application -->
        <!-- build:js-->
        <script src="http://localhost:8888/dist/angular2_polyfils.js"></script>
        <script src="http://localhost:8888/dist/main_app.js"></script>
        <!-- endbuild -->
    </body>
</html>